body {
    text-align: center;
}

p, span {
	color: red;
	font: 30px Verdana;
}

canvas ~ p {
	width: 500px;
	margin: -350px auto 0;

}

.fadeOut {
	opacity:1;
	animation: fadeOut 2s forwards;
}

.fadeIn {
	animation: fadeIn 2s forwards;
}

.meta {
	width: 500px;
	margin: 0 auto;
	position: relative;
	text-align: left;
	opacity: 0;
}

.level > span {
	font-weight: bold;
	display: inline-block;
	position: absolute;
}

.scaleUp {
	animation: scaleUp 1s;
}

.lives {
	display: inline-block;
	margin-left: 50%;
}

.select-players {
	width: 550px;
	margin:-450px auto 0 auto;
	border: 1px solid #efefef;
	box-shadow: 1px 1px 5px #000;
	position: relative;
	z-index: 99;
}

.select-players > img {
	cursor: pointer;
}

.select-players > img:hover {
	transform: translateY(-10px);
}





@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(1,1);
	}
	80% {
		transform: scale(1.5, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}
}

